.images {
    display: flex;
    align-items: flex-start;
    transition: all 1s;
}

.images>img {
    vertical-align: top;
}

.window {
    width: 1000px;
    overflow: hidden;
    margin-bottom: 5px;
}
button{
    margin-right: 5px;
}

.images.position-1{
    transform: translate(0);
}
.images.position-2{
    transform: translate(-1000px);
}
.images.position-3{
    transform: translate(-2000px);
}
.images.position-4{
    transform: translate(-3000px);
}